:root {
    --primary-pale-blue:hsl(225, 100%, 94%);
    --primary-bright-blue:hsl(245, 75%, 52%);
    --secondary-pale-blue:hsl(225, 100%, 98%);
    --secondary-desaturated-blue:hsl(224, 23%, 55%);
    --secondary-dark-blue:hsl(223, 47%, 23%);
}

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    padding:0;
    margin:0;
}

body {
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
    background-image: url('./images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--primary-pale-blue);
}

.container {
    width:400px;
    height:auto;
    background-color: white;
    margin:80px auto;
    border-radius: 20px;
    overflow: hidden;
    padding-bottom: 36px;
    box-shadow: 0px 30px 20px rgba(114, 128, 167 ,0.2);

    display: flex;
    flex-direction: column;
}

header {
    background-image: url('./images/illustration-hero.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 200px;
}

p {
    opacity: 50%;
}

.container>h2 {
    padding:30px 0 16px 0;
    margin:0 auto;
}

.container>p {
    font-size: 14px;
    width:65%;
    text-align: center;
    margin:0 auto;
}

.plan-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    background-color: var(--secondary-pale-blue);
    margin:20px auto;
    width:72%;
    border-radius: 8px;
    padding:16px 12px;
    align-items: center;
}

.plan-container img {
    grid-column: 1;
    width:40px;
}

.price-container {
    grid-column: 2/5;
}

.price-container p {
    padding: 4px 0;
    font-size: 14px;
}

button {
    cursor: pointer;
}

.change-plan-btn {
    background-color: transparent;
    border: 0;
    text-decoration: underline;
    color: var(--primary-bright-blue);
    font-weight: 700;
}

.pay-btn {
    background-color: var(--primary-bright-blue);
    color: white;
    width:80%;
    margin:0 auto;
    border:0;
    border-radius: 8px;
    padding: 12px 0;
    font-weight: 700;
    box-shadow: 0 10px 15px rgba(114, 128, 167 ,0.3);
    margin-bottom: 24px;
}

.pay-btn:hover{
    opacity: 0.7;
}

.cancel-btn {
    background-color: transparent;
    border: 0;
    color:var(--secondary-dark-blue);
    font-weight: 900;
}

footer {
    text-align: center;
}